@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
}
html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #777;
}
img {
	vertical-align: top;
}
button {
	border: 0px none;
	padding: 0px;
	background-color: transparent;
}

:lang(ko) {
	font-family: 'Noto Sans KR', sans-serif;
	word-break: keep-all;
}
:lang(en) {
	font-family: 'Montserrat', sans-serif;
	word-break: keep-all;
}
:lang(zh-CN) {
}

:root {
	/* color S */

	--primary: #014783;
	--secondary: #475c71;
	--tertiary: #15304b;
	--pri-ip-blue: #0047bb;
	--pri-darkness: #010440;
	--pri-white: #ffffff;
	--secondary-dark: #1e1e1e;
	--secondary-dark-gray: #4b4b57;
	--secondary-gray: #88929e;
	--secondary-medium: #bdc5ca;
	--secondary-light: #dcdee7;
	--secondary-shine: #fafafc;
	/* color E */

	/* fonts S */
	--font-size-h2: 36px;
	--font-size-h3: 28px;
	--font-size-h4: 28px;
	--font-size-h5: 24px;
	--font-size-h6: 16px;
	--font-size-body1: 18px;
	--font-size-body2: 14px;

	--font-lh-h2: 54px;
	--font-lh-h3: 42px;
	--font-lh-h4: 42px;
	--font-lh-h5: 36px;
	--font-lh-h6: 24px;
	--font-lh-body1: 24px;
	--font-lh-body2: 23px;

	--font-ls-h2: 0.5px;
	--font-ls-h3: 0.2px;
	--font-ls-h4: 0.5px;
	--font-ls-h5: 0.5px;
	--font-ls-h6: 0.5px;
	--font-ls-body1: 0.2px;
	--font-ls-body2: 0.2px;

	--font-weight-h2: 700;
	--font-weight-h2: 500;
	--font-weight-h2: 700;
	--font-weight-h2: 700;
	--font-weight-h2: 700;
	--font-weight-body1: 500;
	--font-weight-body2: 500;

	/* fonts E */
}

/* 감추고 싶은 글자에 사용하는 css S */
.blind {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
}
/* 감추고 싶은 글자에 사용하는 css E */

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0px auto;
}
