header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #fff;
	z-index: 999;
}
.header {
	position: relative;
	display: grid;
	display: -ms-grid;
	display: -moz-grid;
	grid-template-columns: 190px auto 70px;
	-ms-grid-column: 190px auto 70px;
	justify-content: space-between;
	height: 100%;
}
.header > * {
	height: auto;
	width: 100%;
}
.header__logo {
	width: 190px;
	height: 100%;
}
.header__logo a {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: url('../images/common/logo_kukbo.png');
	background-size: 100% auto;
}

.header__nav {
	height: 100%;
	padding-top: 40px;
}
.header__nav-list {
	display: flex;
	display: flexbox;
	display: -ms-flexbox;
	height: 100%;
}
.header__nav li {
	position: relative;
	width: auto;
	height: 100%;
	margin-right: 35px;
	padding-bottom: 2px;
}
.header__nav li:nth-last-child(1) {
	margin-right: 0;
}
.header__nav-item {
	display: inline-block;
	height: 100%;
	padding: 0 2px;

	color: #fff;
	/* font-family: Montserrat; */
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
	letter-spacing: -0.3px;
	text-align: center;
}
.header__sub-nav {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	height: 0;
	padding: 0;
	background: rgba(255, 255, 255, 0.8);
	padding-left: 11px;
	padding-right: 11px;
	overflow: hidden;
	transition: 0.3s;
}
.header__sub-nav--lang {
	left: -25px;
	transform: translateX(0);
}

.header__sub-nav li {
	width: 100%;
	height: auto;
}
.header__sub-nav a {
	display: block;
	height: auto;
	margin-bottom: 10px;

	color: #1e1e1e;
	font-size: var(--font-size-body2);
	font-weight: 400;
	line-height: var(--font-lh-body2);
	letter-spacing: var(--font-ls-body2);
	text-align: center;
}
.header__sub-nav li:nth-last-child(1) a {
	margin-bottom: 0;
}

/* header nav hover  */
.header__nav-item:hover {
	border-bottom: 2px solid #fff;
}
.header__nav-item:hover + .header__sub-nav,
.header__sub-nav:hover {
	padding-top: 16px;
	padding-bottom: 16px;
}
.header__nav-item:hover + .header__sub-nav--company,
.header__sub-nav--company:hover {
	height: 240px;
}
.header__nav-item:hover + .header__sub-nav--business,
.header__sub-nav--business:hover {
	height: 250px;
}
.header__nav-item:hover + .header__sub-nav--media,
.header__sub-nav--media:hover {
	height: 90px;
}
.header__nav-item:hover + .header__sub-nav--e-biz,
.header__sub-nav--e-biz:hover {
	height: 150px;
}
.header__nav-item:hover + .header__sub-nav--lang,
.header__sub-nav--lang:hover {
	height: 150px;
}
.header__nav-item:hover + .header__sub-nav:hover {
	display: block;
}
/* header nav hover  */

.header__side {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}
.language {
	display: flex;
	margin-bottom: -10px;
	height: 100%;
}
.language__globe {
	position: relative;
	display: block;
	height: 100%;
	width: 20px;
	background-image: url(/images/common/icon_globe.svg);
	background-size: 100% 100%;
	background-position: 0 -15px;
}
.language__globe:hover {
	bottom: -1px;
}

.header-sub__button {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(/images/common/icon_hamberger.svg);
	background-size: 100% 100%;
	background-position: 0 5px;
	cursor: pointer;
}
#headerSubBtn:checked + .header-sub__button {
	transform: translateY(2px);
	background-image: url(/images/common/icon_close.svg);
	background-position-y: 2px;
}

/* header scrolled S */
header.scrolled {
	background-color: #252a2f;
}
/* header scrolled E */

/* header sub nav S */
.sub-nav {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	height: 0;
	background: var(--pri-white);
	transition: 0.3s;
}
header.open .sub-nav {
	height: 300px;
}

header.open .header__sub-nav {
	z-index: 9;
}
header.open .header__nav li {
	width: 100%;
	overflow: visible;
}
/* header.open .header__sub-nav a {
	word-break: keep-all;
	word-wrap: nowrap;
} */

header.open .header__sub-nav {
	padding-top: 16px;
	padding-bottom: 16px;
}
header.open .header__sub-nav--company {
	height: 240px;
}
header.open .header__sub-nav--business {
	height: 250px;
}
header.open .header__sub-nav--media {
	height: 90px;
}
header.open .header__sub-nav--e-biz {
	height: 150px;
}
header.open .header__sub-nav--lang {
	height: 150px;
}
header.open header.open .header__nav-item:hover {
	border-bottom: none;
}
header.open .header__nav-item:hover + .header__sub-nav {
}
/* header sub nav E */
