footer {
	width: 100%;
	height: auto;
}
.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.footer__top {
	height: auto;
	background: var(--secondary);
	padding: 35px 23px 40px 23px;
}
.footer__top .footer__logo {
	width: 210px;
	height: 35px;
	background-image: url(/images/common/logo_kukbo_white.png);
	background-size: 100%;
	margin: auto;
	margin-bottom: 35px;
}
.footer__address {
	width: 100%;
	max-width: 320px;
	margin: auto;
	display: grid;
	grid-template-columns: 65px 1fr;
	grid-template-rows: repeat(3, auto);
}
.footer__address--title {
	padding-top: 3px;

	color: var(--pri-white);
	font-size: var(--font-size-body2);
	font-weight: 700;
	letter-spacing: var(--font-ls-body2);
	line-height: var(--font-lh-body2);
}
.footer__address b {
	color: var(--pri-white);
	font-size: var(--font-size-body2);
	font-weight: 500;
	letter-spacing: var(--font-ls-body2);
	line-height: var(--font-lh-body2);
}
.footer__address span {
	color: #aaaaaa;
	font-size: var(--font-size-body2);
	font-weight: 500;
	letter-spacing: var(--font-ls-body2);
	line-height: var(--font-lh-body2);
}
.footer__bottom {
	height: auto;
	background: var(--tertiary);
	padding: 30px 23px 30px 35px;
}
.footer__bottom dt {
	text-align: center;
	color: var(--pri-white);
	font-size: var(--font-size-body2);
	font-weight: 700;
	letter-spacing: var(--font-ls-body2);
	line-height: var(--font-lh-body2);
}

.footer__bottom dd {
	text-align: center;
	color: var(--pri-white);
	font-size: var(--font-size-body2);
	font-weight: 500;
	letter-spacing: var(--font-ls-body2);
	line-height: var(--font-lh-body2);
}
.wrap-link-to {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.wrap-link-to a {
	width: auto;
	border-bottom: 1px solid var(--pri-white);

	color: rgba(255, 255, 255, 0.8);
	font-size: var(--font-size-body1);
	font-weight: 500;
	letter-spacing: var(--font-ls-body1);
	line-height: var(--font-lh-body1);
}
