@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);

header {
	background: #252a2f;
}
.main {
	display: grid;
	display: -ms-grid;
	grid-template-columns: auto 1140px auto;
	-ms-grid-columns: auto 1140px auto;
	grid-template-rows: 400px auto auto auto;
	-ms-grid-rows: 400px auto auto auto;
	overflow-x: hidden;
}
.banner-top {
	grid-column: 1/4;
	-ms-grid-column: 1/4;
	position: relative;
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.7);
}
.banner-top__bg-img {
	position: absolute;
	fill: cover;
	z-index: -1;
}
.banner-top__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;

	color: #fff;
	text-align: center;
}
.banner-top__content h1 {
	/* font-family: Noto Sans KR; */
	font-size: 36px;
	/* font-style: normal; */
	font-weight: 500;
	line-height: 42px;
	letter-spacing: 0px;
}
.banner-top__content p {
	/* font-family: Montserrat; */
	font-size: 24px;
	/* font-style: normal; */
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0px;
}
.inner-sub-nav {
	grid-column: 1/4;
	-ms-grid-column: 1/4;
	height: 70px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.13);
}
.inner-sub-nav ul {
	height: 100%;
	display: flex;
	display: -ms-flexbox;

	text-align: center;
}
.inner-sub-nav__item {
	width: 33%;
	padding: 1px;

	/* font-family: Noto Sans KR; */
	font-size: 18px;
	/* font-style: normal; */
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
}
.inner-sub-nav__item a {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	padding-top: 22px;

	color: #1e1e1e;
}
.inner-sub-nav__item a::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -1px;
	transform: translateY(-50%);
	width: 1px;
	height: 80%;
	background: #626262;
}
.inner-sub-nav__item:nth-last-child(1) a::after {
	content: none;
}
.inner-sub-nav__item--active {
	background: #014783;
}
.inner-sub-nav__item--active a {
	color: #fff;
	font-weight: 500;
}

.inner-sub-nav__item--active a::after {
	right: -2px;
}

/* relation contents S */
.relation__contents {
	grid-column: 2/3;
	-ms-grid-column: 2/3;
	padding-top: 50px;
	margin-bottom: 120px;
	/* margin-bottom: 150px; */
}
.top-box {
	position: relative;
	height: 120px;
	width: 100%;
}
.top-box::after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 1px;
	height: 100%;
	background: #084a8a;
}
.contents__title {
	margin-bottom: 50px;

	/* font-family: Noto Sans KR; */
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	letter-spacing: 0px;
	text-align: center;
	color: #084a8a;
}
.contents__subtitle {
	margin-bottom: 50px;

	/* font-family: Noto Sans KR; */
	font-size: 36px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: center;
	color: #084a8a;
}
.content__itr-img {
	width: 100%;
	margin-bottom: 70px;
	background: rgba(0, 0, 0, 0.7);
}
.content__itr-img img {
	width: 100%;
}

/* relation list S */
.relation__list {
	width: 100%;
	display: grid;

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);

	text-align: center;
}
.relation__item {
	position: relative;
	height: auto;
}

.relation__item-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	padding-top: 64px;
	padding-bottom: 17px;

	text-align: center;
	color: var(--pri-white);
}

.relation__item-title {
	margin-bottom: 15px;

	font-size: var(--font-size-body1);
	font-weight: var(--font-weight-body1);
	line-height: var(--font-lh-body1);
	letter-spacing: var(--font-ls-body1);
}
.relation__item-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	font-size: var(--font-size-body2);
	font-weight: var(--font-weight-body2);
	line-height: var(--font-lh-body2);
	letter-spacing: var(--font-ls-body2);
}
.relation__item-content address {
}
.relation__item-tel {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.relation__item-tel span {
	position: relative;
	padding-left: 36px;
}
.relation__item-tel span::before {
	content: url(/images/relation/icon_tel.svg);
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
	height: 26px;
}
.relation__item-tel span:nth-child(2) {
	margin-left: 10px;
}

.relation__img {
	position: relative;
	width: 100%;

	z-index: -1;
}
.relation__item:hover .relation__img {
	z-index: -1;
}
/* relation list E */ ;
