@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);

header {
	background: #252a2f;
}
.main {
	display: grid;
	display: -ms-grid;
	grid-template-columns: auto 1140px auto;
	-ms-grid-columns: auto 1140px auto;
	grid-template-rows: 400px auto auto auto 150px;
	-ms-grid-rows: 400px auto auto auto 150px;
}
.banner-top {
	grid-column: 1/4;
	-ms-grid-column: 1/4;
	position: relative;
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.7);
}
.banner-top__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;

	color: #fff;
	text-align: center;
}
.banner-top__content h1 {
	/* font-family: Noto Sans KR; */
	font-size: 36px;
	/* font-style: normal; */
	font-weight: 500;
	line-height: 42px;
	letter-spacing: 0px;
}
.banner-top__content p {
	/* font-family: Montserrat; */
	font-size: 24px;
	/* font-style: normal; */
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0px;
}
.inner-sub-nav {
	grid-column: 1/4;
	-ms-grid-column: 1/4;
	height: 70px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.13);
}
.inner-sub-nav ul {
	height: 100%;
	display: flex;
	display: -ms-flexbox;

	text-align: center;
}
.inner-sub-nav__item {
	width: 33%;
	padding: 1px;

	/* font-family: Noto Sans KR; */
	font-size: 18px;
	/* font-style: normal; */
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
}
.inner-sub-nav__item a {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	padding-top: 22px;

	color: #1e1e1e;
}
.inner-sub-nav__item a::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -1px;
	transform: translateY(-50%);
	width: 1px;
	height: 80%;
	background: #626262;
}
.inner-sub-nav__item:nth-last-child(1) a::after {
	content: none;
}
.inner-sub-nav__item--active {
	background: #014783;
}
.inner-sub-nav__item--active a {
	color: #fff;
	font-weight: 500;
}

.inner-sub-nav__item--active a::after {
	right: -2px;
}

/* organization chart S */
.organization-chart {
	grid-column: 2/3;
	-ms-grid-column: 2/3;
	padding-top: 50px;
}
.organization-chart__box {
	position: relative;
	height: 120px;
}
.organization-chart__box::after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 1px;
	height: 100%;
	background: #084a8a;
}
.organization-chart__title {
	margin-bottom: 50px;

	/* font-family: Noto Sans KR; */
	font-size: 48px;
	/* font-style: normal; */
	font-weight: 500;
	line-height: 54px;
	letter-spacing: 0px;
	text-align: center;
	color: #084a8a;
}
.organization-chart__chart {
	padding-top: 80px;
	width: 100%;
}
/* organization chart S */
